<template>
  <div class="columns">
    <div class="column is-8 text-left">
      <div class="columns">
        <div class="column highlight-full">
          <figure class="highlight section-padding">
            <div
              v-if="errors.isError"
              class="notification is-danger">
              <button class="delete"></button>
              <p v-text="errors.message"></p>
            </div>
            <div class="columns is-mobile">
              <div class="column">
                <div class="field">
                  <div class="control">
                    <input
                      v-model="answer.email"
                      class="input is-primary"
                      type="text"
                      placeholder="Your e-mail">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <div class="select is-primary">
                      <select
                        v-model="answer.role"
                      >
                        <option disabled selected>Please select one</option>
                        <option
                        v-for="(item, key) in options"
                        :key="key"
                        v-text="item"
                        ></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'BiodataComponent',
  props: {
    msg: String,
  },
  data: () => ({
    options: [
      'ui/ux',
      'front-end',
      'back-end'
    ],
    errors: {
      isError: false,
      message: null
    },
    answer: {
      email: null,
      role: null
    }
  }),
  watch: {
    '$store.state.answer': {
      handler(val) {
        if (Array.isArray(val) && val[0] && val[0].category) {
            this.answer = val
            this.question = val[this.index]
        }
      },
      immediate: true
    },
    'answer.email': {
      handler(val) {
        this.$store.commit('initAnswerSpecifict', {
          email: val
        })
      },
      immediate: true
    },
    'answer.role': {
      handler(val) {
        this.$store.commit('initAnswerSpecifict', {
          role: val
        })
      },
      immediate: true
    }
  },
  mounted() {
    this.getOpentDB('api.php?amount=10&encode=url3986')
    this.answer = this.$store.state.answer
  },
  methods: {
    getOpentDB(uri) {
      const payload = {
        get: 'all',
        uri
      }
      this.$store
        .dispatch('getOpentDB', payload)
        .then((res) => {
            const response = res.data
            if (response && response.results) {
                this.$store.commit('initQuestions', this.questions)
            }
        })
        .catch((error) => {
            this.isError = true
            this.errors.message = error && error.message ? error.message
          : 'error, getOpentDB'
        })
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.highlight {
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
}
.text-left {
  text-align: left;
}
.text-capitalize {
  text-transform: capitalize;
}
.section-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
</style>
