<template>
  <div>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Trivia question
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg><!-- <i class="fas fa-angle-down" aria-hidden="true"></i> -->
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <p class="content text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi odio quam,
                eveniet delectus vel libero et nesciunt? Adipisci iste eveniet,
                assumenda deleniti repudiandae aspernatur sapiente maiores hic eos autem architecto?
              </p>
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Question</p>
                  <p v-html="questions.length" class="title"></p>
                </div>
              </div>
            </div>
            <div class="card-footer-item">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Current</p>
                  <p v-text="index + 1" class="title"></p>
                </div>
              </div>
            </div>
            <div v-if="questions[index] && questions[index].difficulty" class="card-footer-item">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Difficulty</p>
                  <p
                    v-text="questions[index].difficulty.substring(0, 3)"
                    class="title"></p>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div
        v-if="!success.isSuccess"
        class="column is-8 text-left">
        <div class="columns">
          <div
            v-if="questions[index] && questions[index].question"
            class="column highlight-full">
            <figure class="highlight section-padding">
              <div
                v-if="errors.isError"
                class="notification is-danger mb-10">
                <button class="delete"></button>
                <p v-text="errors.message"></p>
              </div>
              <h2
                v-text="decodeURIComponent(questions[index].question)"
                class="subtitle"></h2>
              <div class="columns is-mobile">
                <div class="column">
                  <div
                    v-for="(item, key) in initChoice(questions[index])"
                    :key="key">
                    <div class="control">
                      <label
                        class="radio">
                        <input
                          :value="decodeURIComponent(item)"
                          v-model="answer[index]"
                          :name="`multiple-${index}`"
                          type="radio">
                        <span
                          v-text="decodeURIComponent(item)" class="pl-10"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </div>
        </div>
        <div class="buttons pl-20">
          <button
            v-if="index > 0"
            @click="index = index-1"
            class="button is-white">Back</button>
          <button
              v-if="index <= questions.length && questions[index + 1] &&
              questions[index + 1].question"
              @click="index = index + 1"
            class="button is-link">Next</button>
          <button
            v-if="index + 1 === questions.length"
            @click="submit"
            :disabled="!isDisabled"
            class="button is-link">Submit</button>
        </div>
      </div>
      <div
        v-else
        class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Result
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <svg
                  class="svg-inline--fa fa-angle-down fa-w-10"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="angle-down"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                  data-fa-i2svg="">
                <path
                  fill="currentColor"
                  d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6
                  0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4
                  33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                </path>
                </svg>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Score</p>
                  <p v-html="input.score" class="title"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'QuestionsComponent',
  props: {
    msg: String,
  },
  data: () => ({
    index: 0,
    question: [],
    answer: [],
    correctAnswer: [],
    isDisabled: false,
    input: {
      email: null,
      role: null,
      score: 0
    },
    errors: {
      isError: false,
      message: null
    },
    success: {
      isSuccess: false,
      message: null
    },
    questions: []
  }),
  watch: {
    answer: {
      handler(val) {
        let bool = [false]
        for (let i = 0; i < this.questions.length; i++) {
          bool[i] = false
          if (val[i]) {
            bool[i] = true
          }
        }
        this.isDisabled = bool.every((i) => i === true)
      },
      deep: true,
      immediate: true
    },
    '$store.state.answer': {
      handler(val) {
        if (val && val.email && val.role) {
            this.input.email = val.email
            this.input.role = val.role
        }
        this.input.score = val.score || 0
      },
      immediate: true
    },
    '$store.state.questions': {
      handler(val) {
        if (Array.isArray(val) && val[0] && val[0].category) {
            this.questions = val
            this.question = val[this.index]
        }
      },
      immediate: true
    },
    index(val) {
     if (val && val >= 0 && Array.isArray(this.questions)) {
       this.question = this.questions[val]
     }
    }
  },
  mounted() {
    if (this.index && this.index >= 0 && Array.isArray(this.questions)) {
      this.question = this.questions[this.index]
    }
  },
  methods: {
    initChoice(val) {
      const data = val.incorrect_answers
      if (val.correct_answer && val.incorrect_answers
      && !val.incorrect_answers.includes(val.correct_answer)) {
        this.correctAnswer.push(val.correct_answer)
        data.push(val.correct_answer)
      }
      return data
    },
    initAnswer() {
      let score = 0
      for (let i = 0; i < this.questions.length; i++) {
        if (this.questions[i] && this.questions[i].correct_answer
        && this.answer[i] === this.questions[i].correct_answer) {
          score++
        }
      }
      this.input.score = score
    },
    submit() {
      this.isError = false
      this.success.isSuccess = false
      const email = this.input.email || 'bayusyaits@gmail.com'
      const role = this.input.role || 'ui/ux'
      const payload = {
        uri: 'answer',
        value: {
          name: `answer ${email}`,
          version: '1.0.1',
          scope: 'trivial test',
          score: this.input.score,
          status: 'publish',
          permissions: 755,
          input: {
            email,
            role,
            score: this.input.score
          },
          questions: this.questions,
          answer: this.answer
        }
      }
      payload.value = JSON.stringify(payload.value)
      this.$store
      .dispatch('postData', payload)
      .then((res) => {
          const response = res.data.data
          this.initAnswer()
          if (response && response.fields) {
            this.success.isSuccess = true
            this.success.message = 'ok'
          } else {
            this.isError = true
            this.errors.message = error && error.message ? error.message
          : 'error, postData'
          }
      })
      .catch((error) => {
        this.isError = true
        this.errors.message = error && error.message ? error.message
          : 'error, postData'
      })
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.highlight {
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
}
.text-left {
  text-align: left;
}
.text-capitalize {
  text-transform: capitalize;
}
.section-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.pl-20 {
  padding-left: 20px;
}
</style>
