<template>
  <section class="section">
    <div class="container is-fullwidth">
      <div class="is-primary">
        <BiodataComponent v-if="!(answer.email && answer.role)" />
        <QuestionsComponent v-else/>
      </div>
      <footer class="mt-80 is-fullwidth">
        <div class="content has-text-centered">
          <p>
            <strong>Trivia Questions</strong> by <a href="http://linktr.ee/bayusyaits">Bayusyaits</a>
          </p>
        </div>
      </footer>
    </div>
  </section>
</template>

<script>
/* eslint-disable */
import BiodataComponent from '@/components/BiodataComponent.vue';
import QuestionsComponent from '@/components/QuestionsComponent.vue';

export default {
  name: 'Home',
  components: {
    BiodataComponent,
    QuestionsComponent
  },
  data: () => ({
    questions: [],
    isError: false,
    tmpItems: []
  }),
  computed: {
    answer() {
      return this.$store.state.answer
    }
  },
  mounted() {
    this.getOpentDB('api.php?amount=10&encode=url3986')
  },
  methods: {
    getOpentDB(uri) {
      const payload = {
        get: 'all',
        uri
      }
      this.isError = false
      this.$store
        .dispatch('getOpentDB', payload)
        .then((res) => {
            const response = res.data
            if (response && response.results) {
                this.questions = response.results
                this.$store.commit('initQuestions', this.questions)
            }
        })
        .catch((error) => {
          this.isError = true
        })
      }
  }
};
</script>
<style lang="scss" scoped>
.mt-80 {
  margin-top: 80px;
}
</style>
